# Scraping Twitter
Pada python notebook ini akan dijelaskan mengenai scraping data dari twitter
menggunakan Twitter API dan Twython.

## Inisialisasi Twython
Twython merupakan modul python untuk mendapatkan tweet dari twitter. dimasukkan dulu Key yang dibutuhkan seperti:
```
TWITTER_APP_KEY
TWITTER_APP_KEY_SECRET
TWITTER_ACCESS_TOKEN
TWITTER_ACCESS_TOKEN_SECRET
```

In [1]:
from twython import Twython
import pandas as pd

#Log in Twitter API
TWITTER_APP_KEY = "bgAsjeaOjDhijVVNj0CKvmXd1"
TWITTER_APP_KEY_SECRET = "i4ogIK1Pw0sHtPMve71JgzONGGz5osFNoKELQ31QmXdJZK6CJF"
TWITTER_ACCESS_TOKEN = "946009581813039106-1p9P45cWrcjhgugctlTA48VzkxkoKxT"
TWITTER_ACCESS_TOKEN_SECRET = "CXF8ijxLrF4T9KHXsNR8XhJx77uKARW9KGS0PtrOeYa4j"

t = Twython(app_key=TWITTER_APP_KEY, 
            app_secret=TWITTER_APP_KEY_SECRET, 
            oauth_token=TWITTER_ACCESS_TOKEN, 
            oauth_token_secret=TWITTER_ACCESS_TOKEN_SECRET)

## Menentukan Term
Term digunakan untuk mencari kata apa yang akan diambil dari twitter. disini kita mencoba mencari kata `Traveloka` sebanyak 20 buah tweet terbaru, yang menggunakan bahasa Indonesia

In [2]:
#Term
term = 'Traveloka'
tweet_metadatas = t.search(q=term,count=20,result_type='recent',lang='id')

## Scrapping Data

In [3]:
#Scrapping
data_list = []
for tweet in tweet_metadatas['statuses']:
    meta = dict()
    meta['tweet'] = tweet['text']
    meta['timestamp'] = tweet['created_at']
    meta['username'] = tweet['user']['screen_name']
    
    data_list.append(meta)

## Menampilkan Data hasil Scrapping
Berikut adalah data hasil scrapping yang telah dilakukan

In [7]:
#Display
data = pd.DataFrame(data_list)
data.head()

,timestamp,tweet,username
0,Thu Oct 25 13:02:49 +0000 2018,"RT @IsskndarAriffin: Untuk sampai ke sini, kak...",tengkuafiq55
1,Thu Oct 25 13:00:03 +0000 2018,Dafam Teraskita Kembali Raih The Best Guest Ex...,vakansi_co
2,Thu Oct 25 12:57:53 +0000 2018,@cahpang @Faris13_ @Rockabatik @thimvz Mainan ...,muutsek
3,Thu Oct 25 12:44:24 +0000 2018,RT @traveloka: Itinerary keliling #Bandung wee...,AdiputraAnggit
4,Thu Oct 25 12:34:24 +0000 2018,@flyscootID mw pesen tambahan tiket u/ Anak di...,MDesyderius

## Menyimpan Data Hasil Scrapping
Data Disimpan dalam bentuk `.xlsx` , file yang akan disimpan berlokasi di `scrap-data/data_twitter.xlsx`

In [5]:
#Export
writer = pd.ExcelWriter('scrap-data/data_twitter.xlsx')
data.to_excel(writer,'Sheet1',index=False)
writer.save()