# SQL #2

Before start this notebook, please make sure to complete this following list:
- Install [XAMPP](https://www.apachefriends.org/index.html)
- Start MySQL Database, and Apache Webserver
- Install Package `PyMySQL` on notebook, this package contains a pure-Python MySQL client library
- Import database `mysqlsampledatabase.sql` to MySQL Database

## Database Structure
<img src="http://www.mysqltutorial.org/wp-content/uploads/2009/12/MySQL-Sample-Database-Schema.png" />

## Connect to database
Connect to localhost, using `classicmodels` database with default user

In [2]:
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

### One to many relationship
1. Report the account representative for each customer.
2. Report total payments for Atelier graphique.
3. Report the total payments by date
4. Report the products that have not been sold.
5. List the amount paid by each customer.
6. How many orders have been placed by Herkku Gifts?
7. Who are the employees in Boston?
8. Report those payments greater than \$100,000. Sort the report so the customer who made the highest payment appears first.
9. List the value of 'On Hold' orders.
10. Report the number of orders 'On Hold' for each customer.

In [4]:
# 1. Report the account representative for each customer.

run("""
SELECT 
    CONCAT(e.firstName,' ', e.lastName) AccountRepresentative,
    customerName
FROM
    employees e
        RIGHT JOIN
    customers c ON e.employeeNumber = c.salesRepEmployeeNumber
ORDER BY customerName
""")

    AccountRepresentative                        customerName
0        Gerard Hernandez                        Alpha Cognac
1          Foon Yue Tseng              American Souvenirs Inc
2         Pamela Castillo                  Amica Models & Co.
3                    None                       ANG Resellers
4             Andy Fixter             Anna's Decorations, Ltd
5                    None                 Anton Designs, Ltd.
6                    None          Asian Shopping Network, Co
7                    None               Asian Treasures, Inc.
8        Gerard Hernandez                   Atelier graphique
9             Andy Fixter        Australian Collectables, Ltd
10            Andy Fixter          Australian Collectors, Co.
11            Andy Fixter         Australian Gift Network, Co
12       Gerard Hernandez                Auto Associés & Cie.
13            Loui Bondur                   Auto Canal+ Petit
14        Steve Patterson             Auto-Moto Classics Inc.
15             Larry Bott                      AV Stores, Co.
16            Barry Jones                  Baane Mini Imports
17            Barry Jones  Bavarian Collectables Imports, Co.
18                   None                   BG&E Collectables
19            Barry Jones                Blauer See Auto, Co.
20        Leslie Thompson                   Boards & Toys Co.
21          Martin Gerard                         CAF Imports
22         Julie Firrelli          Cambridge Collectables Co.
23          George Vanauf      Canadian Gift Exchange Network
24         Julie Firrelli             Classic Gift Ideas, Inc
25         Foon Yue Tseng                Classic Legends Inc.
26            Barry Jones             Clover Collections, Co.
27        Leslie Thompson        Collectable Mini Designs Co.
28         Julie Firrelli          Collectables For Less Inc.
29        Leslie Jennings            Corporate Gift Ideas Co.
..                    ...                                 ...
92                   None                  Raanan Stores, Inc
93            Loui Bondur                  Reims Collectables
94        Pamela Castillo                       Rovelli Gifts
95          George Vanauf   Royal Canadian Collectables, Ltd.
96        Pamela Castillo                        Royale Belge
97        Pamela Castillo               Salzburg Collectables
98                   None                SAR Distributors, Co
99            Loui Bondur              Saveley & Henriot, Co.
100           Barry Jones             Scandinavian Gift Ideas
101                  None                    Schuyler Imports
102       Leslie Jennings            Signal Collectibles Ltd.
103       Leslie Thompson                  Signal Gift Stores
104           Andy Fixter           Souveniers And Things Co.
105                  None      Stuttgart Collectable Exchange
106            Larry Bott            Stylish Desk Decors, Co.
107            Larry Bott                 Suominen Souveniers
108        Foon Yue Tseng                    Super Scale Inc.
109       Leslie Jennings                Technics Stores Inc.
110         George Vanauf             Tekni Collectables Inc.
111       Leslie Jennings           The Sharp Gifts Warehouse
112            Mami Nishi             Tokyo Collectables, Ltd
113           Barry Jones             Toms Spezialitäten, Ltd
114            Larry Bott                Toys of Finland, Co.
115       Leslie Thompson                   Toys4GrownUps.com
116            Larry Bott               UK Collectables, Ltd.
117         Martin Gerard                     Vida Sport, Ltd
118        Foon Yue Tseng                     Vitachrome Inc.
119           Barry Jones            Volvo Model Replicas, Co
120                  None                    Warburg Exchange
121       Leslie Thompson         West Coast Collectables Co.

[122 rows x 2 columns]

In [5]:
#2. Report total payments for Atelier graphique.

run("""
SELECT 
    customerName,
    SUM(amount) totalPayments
FROM
    customers c
        JOIN
    payments p ON c.customerNumber = p.customerNumber
WHERE
    c.customerName = 'Atelier graphique'
""")

        customerName  totalPayments
0  Atelier graphique       22314.36

In [7]:
# 3. Report the total payments by date

run("""
SELECT 
    paymentDate, 
    SUM(amount) as totalPayments
FROM 
    payments 
GROUP by 
    paymentDate
""")

    paymentDate  totalPayments
0    2003-01-16       10223.83
1    2003-01-28       10549.01
2    2003-01-30        5494.78
3    2003-02-16       50218.95
4    2003-02-20       53959.21
5    2003-02-25       40206.20
6    2003-03-02       52151.81
7    2003-03-09       51001.22
8    2003-03-12       22292.62
9    2003-03-20       25833.14
10   2003-03-27       48425.69
11   2003-04-09       24212.79
12   2003-04-11       11044.30
13   2003-04-16       21665.98
14   2003-04-19        1627.56
15   2003-04-20       33383.14
16   2003-04-22       44380.15
17   2003-05-09        3101.40
18   2003-05-12       35826.33
19   2003-05-20       45864.03
20   2003-05-21       16700.47
21   2003-05-25       50824.66
22   2003-05-31        7565.08
23   2003-06-05       14571.44
24   2003-06-06       32641.98
25   2003-06-13       57131.92
26   2003-06-18       58841.35
27   2003-06-25       17032.29
28   2003-07-05        2880.00
29   2003-07-06        6036.96
..          ...            ...
202  2005-02-02       12692.19
203  2005-02-03       14379.90
204  2005-02-06       39580.60
205  2005-02-09       27083.78
206  2005-02-12       28322.83
207  2005-02-14       33967.73
208  2005-02-15       46770.52
209  2005-02-22       49523.67
210  2005-03-01       21432.31
211  2005-03-02        3452.75
212  2005-03-05      101244.59
213  2005-03-10       23602.90
214  2005-03-15       46781.66
215  2005-03-18      120166.58
216  2005-03-25       65071.26
217  2005-03-27        3516.04
218  2005-04-15       30293.77
219  2005-04-16       83598.04
220  2005-04-18       27966.54
221  2005-04-23       12190.85
222  2005-04-30       29848.52
223  2005-05-03       43964.87
224  2005-05-17       17928.09
225  2005-05-18         615.45
226  2005-05-19       75396.26
227  2005-05-20       29070.38
228  2005-05-23       75020.13
229  2005-05-25       30253.75
230  2005-06-03       12432.32
231  2005-06-09       46656.94

[232 rows x 2 columns]

In [27]:
# 4. Report the products that have not been sold.

run("""
SELECT 
    * 
FROM 
    products p 
        LEFT JOIN 
    orderdetails o 
        USING (productCode)
WHERE 
    o.productCode is NULL
""")

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP,orderNumber,quantityOrdered,priceEach,orderLineNumber
0,S18_3233,1985 Toyota Supra,Classic Cars,1:18,Highway 66 Mini Classics,"This model features soft rubber tires, working...",7733,57.01,107.57,None,None,None,None

In [28]:
# 5. List the amount paid by each customer.
run("""
SELECT 
    customerName,
    SUM(amount) AS totalPayment
FROM 
    customers
        JOIN 
    payments
        USING (customerNumber)
GROUP BY
    customerName
""")

                          customerName  totalPayment
0                         Alpha Cognac      60483.36
1                   Amica Models & Co.      82223.23
2              Anna's Decorations, Ltd     137034.22
3                    Atelier graphique      22314.36
4         Australian Collectables, Ltd      44920.76
5           Australian Collectors, Co.     180585.07
6          Australian Gift Network, Co      55190.16
7                 Auto Associés & Cie.      58876.41
8                    Auto Canal+ Petit      86436.97
9              Auto-Moto Classics Inc.      21554.26
10                      AV Stores, Co.     148410.09
11                  Baane Mini Imports     104224.79
12  Bavarian Collectables Imports, Co.      31310.09
13                Blauer See Auto, Co.      75937.76
14                   Boards & Toys Co.       7918.60
15                         CAF Imports      46751.14
16          Cambridge Collectables Co.      32198.69
17      Canadian Gift Exchange Network      70122.19
18             Classic Gift Ideas, Inc      57939.34
19                Classic Legends Inc.      69214.33
20             Clover Collections, Co.      49898.27
21        Collectable Mini Designs Co.      80375.24
22          Collectables For Less Inc.      73533.65
23            Corporate Gift Ideas Co.     132340.78
24          Corrida Auto Replicas, Ltd     112440.09
25                     Cruz & Sons Co.      87468.30
26            Daedalus Designs Imports      61781.70
27            Danish Wholesale Imports     107446.50
28               Diecast Classics Inc.      98509.25
29                Diecast Collectables      65541.74
..                                 ...           ...
68            Online Mini Collectables      55577.26
69                Osaka Souveniers Co.      62361.22
70             Oulu Toy Supplies, Inc.      95706.15
71                          Petit Auto      62253.85
72        Québec Home Shopping Network      68977.67
73                  Reims Collectables     126983.19
74                       Rovelli Gifts     127529.69
75   Royal Canadian Collectables, Ltd.      66812.00
76                        Royale Belge      29217.18
77               Salzburg Collectables      85060.00
78              Saveley & Henriot, Co.     130305.35
79             Scandinavian Gift Ideas      76776.44
80            Signal Collectibles Ltd.      42570.37
81                  Signal Gift Stores      80180.98
82           Souveniers And Things Co.      91655.61
83            Stylish Desk Decors, Co.      80556.73
84                 Suominen Souveniers     103896.74
85                    Super Scale Inc.      70378.65
86                Technics Stores Inc.     104545.22
87             Tekni Collectables Inc.      38281.51
88           The Sharp Gifts Warehouse      59551.38
89             Tokyo Collectables, Ltd     105548.73
90             Toms Spezialitäten, Ltd      89223.14
91                Toys of Finland, Co.      95546.46
92                   Toys4GrownUps.com      93803.30
93               UK Collectables, Ltd.      61167.18
94                     Vida Sport, Ltd     108777.92
95                     Vitachrome Inc.      72497.64
96            Volvo Model Replicas, Co      43680.65
97         West Coast Collectables Co.      43748.72

[98 rows x 2 columns]

In [42]:
# 6. How many orders have been placed by Herkku Gifts?
run("""
SELECT 
    customerName,
    sum(quantityOrdered) as totalQuantityOrders
FROM 
    customers
        JOIN 
    orders
        USING (customerNumber)
        JOIN
    orderdetails
        USING (orderNumber)
WHERE
    customerName = 'Herkku Gifts'

""")

   customerName  totalQuantityOrders
0  Herkku Gifts                973.0

In [48]:
# 7. Who are the employees in Boston?
run("""
SELECT 
    CONCAT(firstName,' ', lastName) as fullName 
FROM 
    offices 
        JOIN 
    employees 
        USING (officeCode) 
WHERE 
    city = 'Boston'
""")

          fullName
0   Julie Firrelli
1  Steve Patterson

In [54]:
# 8. Report those total payments greater than $100,000. Sort the report so the customer who made the highest payment appears first.
run("""
SELECT 
    customerName,
    SUM(amount) AS totalPayment
FROM 
    customers
        JOIN 
    payments
        USING (customerNumber)
GROUP BY
    customerName
HAVING
    totalPayment > 100000
ORDER BY
    totalPayment DESC
""")

                    customerName  totalPayment
0         Euro+ Shopping Channel     715738.98
1   Mini Gifts Distributors Ltd.     584188.24
2     Australian Collectors, Co.     180585.07
3             Muscle Machine Inc     177913.95
4        Dragon Souveniers, Ltd.     156251.03
5     Down Under Souveniers, Inc     154622.08
6                 AV Stores, Co.     148410.09
7        Anna's Decorations, Ltd     137034.22
8       Corporate Gift Ideas Co.     132340.78
9         Saveley & Henriot, Co.     130305.35
10                 Rovelli Gifts     127529.69
11            Reims Collectables     126983.19
12             La Rochelle Gifts     116949.68
13  Online Diecast Creations Co.     116449.29
14             Kelly's Gift Shop     114497.19
15    Corrida Auto Replicas, Ltd     112440.09
16               Vida Sport, Ltd     108777.92
17             Land of Toys Inc.     107639.94
18      Danish Wholesale Imports     107446.50
19       Tokyo Collectables, Ltd     105548.73
20              Handji Gifts& Co     105420.57
21          Technics Stores Inc.     104545.22
22            Baane Mini Imports     104224.79
23           Suominen Souveniers     103896.74
24           Mini Creations Ltd.     101872.52

In [58]:
# 8-1. Report those payments greater than $100,000. Sort the report so the customer who made the highest payment appears first.
run("""
SELECT 
    customerName,
    amount
FROM 
    customers
        JOIN 
    payments
        USING (customerNumber)
WHERE
    amount > 100000
ORDER BY
    amount DESC
""")

                   customerName     amount
0        Euro+ Shopping Channel  120166.58
1        Euro+ Shopping Channel  116208.40
2  Mini Gifts Distributors Ltd.  111654.40
3       Dragon Souveniers, Ltd.  105743.00
4  Mini Gifts Distributors Ltd.  101244.59

In [63]:
# 9. List the value of 'On Hold' orders.
run("""
SELECT 
    orderNumber,
    status,
    SUM(quantityOrdered*priceEach) as value
FROM 
    orders o 
        JOIN 
    orderdetails d 
        USING (orderNumber) 
WHERE 
    o.status = 'on hold' 
GROUP BY 
    orderNumber
""")

   orderNumber   status     value
0        10334  On Hold  23014.17
1        10401  On Hold  43525.04
2        10407  On Hold  52229.55
3        10414  On Hold  50806.85

In [74]:
# 10. Report the number of orders 'On Hold' for each customer.
run("""
SELECT 
    orderNumber,
    status,
    customerName,
    orderDate,
    SUM(quantityOrdered) AS value
FROM 
    orders o 
        JOIN 
    orderdetails d 
        USING (orderNumber) 
        JOIN
    customers c
        USING (customerNumber)
WHERE 
    o.status = 'on hold' 
GROUP BY
    orderDate
""")

   orderNumber   status               customerName   orderDate  value
0        10334  On Hold   Volvo Model Replicas, Co  2004-11-19  217.0
1        10401  On Hold    Tekni Collectables Inc.  2005-04-03  597.0
2        10407  On Hold  The Sharp Gifts Warehouse  2005-04-22  571.0
3        10414  On Hold          Gifts4AllAges.com  2005-05-06  609.0

### Many to many relationship
1. List products sold by order date.
2. List the order dates in descending order for orders for the 1940 Ford Pickup Truck.
3. List the names of customers and their corresponding order number where a particular order from that customer has a value greater than $25,000?
4. Are there any products that appear on all orders?
5. List the names of products sold at less than 80% of the MSRP.
6. Reports those products that have been sold with a markup of 100% or more (i.e.,  the priceEach is at least twice the buyPrice)
7. List the products ordered on a Monday.
8. What is the quantity on hand for products listed on 'On Hold' orders?

In [85]:
# 1. List products sold by order date.
run("""
SELECT 
    productName,
    orderDate
FROM 
    products 
        JOIN 
    orderdetails
        USING(productCode)
        JOIN 
    orders 
        USING(orderNumber)
ORDER BY 
    orderDate
""")

                                      productName   orderDate
0                        1917 Grand Touring Sedan  2003-01-06
1                              1911 Ford Town Car  2003-01-06
2             1932 Alfa Romeo 8C2300 Spider Sport  2003-01-06
3                1936 Mercedes Benz 500k Roadster  2003-01-06
4                       1932 Model A Ford J-Coupe  2003-01-09
5                          1928 Mercedes-Benz SSK  2003-01-09
6                     1939 Chevrolet Deluxe Coupe  2003-01-09
7       1938 Cadillac V-16 Presidential Limousine  2003-01-09
8                            1937 Lincoln Berline  2003-01-10
9        1936 Mercedes-Benz 500K Special Roadster  2003-01-10
10                       1952 Alpine Renault 1300  2003-01-29
11                         1962 LanciaA Delta 16V  2003-01-29
12                                 1958 Setra Bus  2003-01-29
13                         1940 Ford Pickup Truck  2003-01-29
14                          1926 Ford Fire Engine  2003-01-29
15                    1913 Ford Model T Speedster  2003-01-29
16                             1934 Ford V8 Coupe  2003-01-29
17            18th Century Vintage Horse Carriage  2003-01-29
18                       1917 Maxwell Touring Car  2003-01-29
19                               1940s Ford truck  2003-01-29
20                        1939 Cadillac Limousine  2003-01-29
21                       1962 Volkswagen Microbus  2003-01-29
22                          1936 Chrysler Airflow  2003-01-29
23                    1980’s GM Manhattan Express  2003-01-29
24    1996 Peterbilt 379 Stake Bed with Outrigger  2003-01-29
25                                1982 Camaro Z28  2003-01-29
26                             1969 Corvair Monza  2003-01-31
27                              1957 Chevy Pickup  2003-01-31
28                 1998 Chrysler Plymouth Prowler  2003-01-31
29                         1964 Mercedes Tour Bus  2003-01-31
...                                           ...         ...
2966                          2002 Chevy Corvette  2005-05-29
2967             1936 Mercedes Benz 500k Roadster  2005-05-29
2968                       1928 Mercedes-Benz SSK  2005-05-29
2969    1938 Cadillac V-16 Presidential Limousine  2005-05-29
2970                         1937 Lincoln Berline  2005-05-30
2971     1936 Mercedes-Benz 500K Special Roadster  2005-05-30
2972                  1913 Ford Model T Speedster  2005-05-30
2973                           1934 Ford V8 Coupe  2005-05-30
2974          18th Century Vintage Horse Carriage  2005-05-30
2975                     1917 Maxwell Touring Car  2005-05-30
2976                        1936 Chrysler Airflow  2005-05-30
2977                     1952 Alpine Renault 1300  2005-05-31
2978                               1958 Setra Bus  2005-05-31
2979                       1940 Ford Pickup Truck  2005-05-31
2980                      1939 Cadillac Limousine  2005-05-31
2981  1996 Peterbilt 379 Stake Bed with Outrigger  2005-05-31
2982                              1982 Camaro Z28  2005-05-31
2983                       1962 LanciaA Delta 16V  2005-05-31
2984                            1957 Chevy Pickup  2005-05-31
2985               1998 Chrysler Plymouth Prowler  2005-05-31
2986                       1964 Mercedes Tour Bus  2005-05-31
2987                        1926 Ford Fire Engine  2005-05-31
2988                  1992 Ferrari 360 Spider red  2005-05-31
2989                             1940s Ford truck  2005-05-31
2990                           1970 Dodge Coronet  2005-05-31
2991                     1962 Volkswagen Microbus  2005-05-31
2992          1958 Chevy Corvette Limited Edition  2005-05-31
2993                  1980’s GM Manhattan Express  2005-05-31
2994                  1954 Greyhound Scenicruiser  2005-05-31
2995             Diamond T620 Semi-Skirted Tanker  2005-05-31

[2996 rows x 2 columns]

In [89]:
# 2. List the order dates in descending order for orders for the 1940 Ford Pickup Truck.
run("""
SELECT 
    orderNumber,
    productName,
    orderDate,
    status
FROM 
    products 
        JOIN 
    orderdetails
        USING(productCode)
        JOIN 
    orders 
        USING(orderNumber)
WHERE
    productName = '1940 Ford Pickup Truck'
ORDER BY
    orderDate DESC
""")

    orderNumber             productName   orderDate      status
0         10424  1940 Ford Pickup Truck  2005-05-31  In Process
1         10411  1940 Ford Pickup Truck  2005-05-01     Shipped
2         10391  1940 Ford Pickup Truck  2005-03-09     Shipped
3         10381  1940 Ford Pickup Truck  2005-02-17     Shipped
4         10370  1940 Ford Pickup Truck  2005-01-20     Shipped
5         10357  1940 Ford Pickup Truck  2004-12-10     Shipped
6         10347  1940 Ford Pickup Truck  2004-11-29     Shipped
7         10333  1940 Ford Pickup Truck  2004-11-18     Shipped
8         10322  1940 Ford Pickup Truck  2004-11-04     Shipped
9         10312  1940 Ford Pickup Truck  2004-10-21     Shipped
10        10304  1940 Ford Pickup Truck  2004-10-11     Shipped
11        10291  1940 Ford Pickup Truck  2004-09-08     Shipped
12        10280  1940 Ford Pickup Truck  2004-08-17     Shipped
13        10270  1940 Ford Pickup Truck  2004-07-19     Shipped
14        10258  1940 Ford Pickup Truck  2004-06-15     Shipped
15        10245  1940 Ford Pickup Truck  2004-05-04     Shipped
16        10228  1940 Ford Pickup Truck  2004-03-10     Shipped
17        10215  1940 Ford Pickup Truck  2004-01-29     Shipped
18        10206  1940 Ford Pickup Truck  2003-12-05     Shipped
19        10194  1940 Ford Pickup Truck  2003-11-25     Shipped
20        10183  1940 Ford Pickup Truck  2003-11-13     Shipped
21        10174  1940 Ford Pickup Truck  2003-11-06     Shipped
22        10164  1940 Ford Pickup Truck  2003-10-21    Resolved
23        10150  1940 Ford Pickup Truck  2003-09-19     Shipped
24        10140  1940 Ford Pickup Truck  2003-07-24     Shipped
25        10126  1940 Ford Pickup Truck  2003-05-28     Shipped
26        10113  1940 Ford Pickup Truck  2003-03-26     Shipped
27        10103  1940 Ford Pickup Truck  2003-01-29     Shipped

In [97]:
# 3. List the names of customers and their corresponding order number 
## where a particular order from that customer has a value greater than $25,000?
run("""
SELECT 
    customerName,
    orderNumber,
    orderDate,
    SUM(priceEach*quantityOrdered) as value 
FROM 
    customers 
        JOIN 
    orders 
        USING(customerNumber) 
        JOIN 
    orderdetails 
        USING(orderNumber) 
GROUP BY 
    orderNumber 
HAVING 
    value > 25000
ORDER BY
    orderDate
""")

                     customerName  orderNumber   orderDate     value
0              Baane Mini Imports        10103  2003-01-29  50218.95
1          Euro+ Shopping Channel        10104  2003-01-31  40206.20
2        Danish Wholesale Imports        10105  2003-02-11  53959.21
3                   Rovelli Gifts        10106  2003-02-17  52151.81
4                 Cruz & Sons Co.        10108  2003-03-03  51001.22
5    Motor Mint Distributors Inc.        10109  2003-03-10  25833.14
6                  AV Stores, Co.        10110  2003-03-18  48425.69
7       La Corne D'abondance, Co.        10114  2003-04-01  33383.14
8         Dragon Souveniers, Ltd.        10117  2003-04-16  44380.15
9           Salzburg Collectables        10119  2003-04-28  35826.33
10     Australian Collectors, Co.        10120  2003-04-29  45864.03
11           Marseille Mini Autos        10122  2003-05-08  50824.66
12             Signal Gift Stores        10124  2003-05-21  32641.98
13     Corrida Auto Replicas, Ltd        10126  2003-05-28  57131.92
14             Muscle Machine Inc        10127  2003-06-03  58841.35
15       Stylish Desk Decors, Co.        10129  2003-06-12  29429.14
16   Mini Gifts Distributors Ltd.        10135  2003-07-02  55601.84
17              Kelly's Gift Shop        10138  2003-07-07  32077.44
18           Technics Stores Inc.        10140  2003-07-24  38675.13
19            Suominen Souveniers        10141  2003-08-01  29716.86
20   Mini Gifts Distributors Ltd.        10142  2003-08-08  56052.56
21            Mini Creations Ltd.        10143  2003-08-10  41016.75
22              Toys4GrownUps.com        10145  2003-08-25  50342.74
23     Collectables For Less Inc.        10147  2003-09-05  32680.31
24        Anna's Decorations, Ltd        10148  2003-09-11  41554.73
25       Signal Collectibles Ltd.        10149  2003-09-12  29997.09
26        Dragon Souveniers, Ltd.        10150  2003-09-19  38350.15
27        Oulu Toy Supplies, Inc.        10151  2003-09-21  32723.04
28         Euro+ Shopping Channel        10153  2003-09-28  44939.85
29      Norway Gifts By Mail, Co.        10301  2003-10-05  36798.88
..                            ...          ...         ...       ...
162        Euro+ Shopping Channel        10380  2005-02-16  34404.21
163      Corporate Gift Ideas Co.        10381  2005-02-17  32626.09
164  Mini Gifts Distributors Ltd.        10382  2005-02-17  47765.59
165        Euro+ Shopping Channel        10383  2005-02-22  36851.98
166        Euro+ Shopping Channel        10386  2005-03-01  46968.52
167       Scandinavian Gift Ideas        10389  2005-03-03  27966.54
168              FunGiftIdeas.com        10388  2005-03-03  30293.77
169  Mini Gifts Distributors Ltd.        10390  2005-03-04  55902.50
170       Anna's Decorations, Ltd        10391  2005-03-09  29848.52
171    Down Under Souveniers, Inc        10393  2005-03-11  33593.32
172  Mini Gifts Distributors Ltd.        10396  2005-03-23  27695.54
173            Reims Collectables        10398  2005-03-30  46656.94
174     The Sharp Gifts Warehouse        10400  2005-04-01  31755.34
175             Kelly's Gift Shop        10399  2005-04-01  30253.75
176       Tekni Collectables Inc.        10401  2005-04-03  43525.04
177         UK Collectables, Ltd.        10403  2005-04-08  37258.94
178    Down Under Souveniers, Inc        10404  2005-04-08  41426.81
179                   Mini Caravy        10405  2005-04-14  35157.75
180     The Sharp Gifts Warehouse        10407  2005-04-22  52229.55
181               GiftsForHim.com        10410  2005-04-29  36442.34
182  Québec Home Shopping Network        10411  2005-05-01  29070.38
183        Euro+ Shopping Channel        10412  2005-05-03  46895.48
184               Gift Depot Inc.        10413  2005-05-05  28500.78
185             Gifts4AllAges.com        10414  2005-05-06  50806.85
186           L'ordine Souveniers        10416  2005-05-10  35362.26
187        Euro+ Shopping Channel        10417  2005-05-13  28574.90
188         Salzburg Collectables        10419  2005-05-17  52420.07
189     Souveniers And Things Co.        10420  2005-05-29  42251.51
190             La Rochelle Gifts        10425  2005-05-31  41623.44
191        Euro+ Shopping Channel        10424  2005-05-31  29310.30

[192 rows x 4 columns]

In [138]:
# 4. Are there any products that appear on all orders?
## No, There is 1 product that is not in all order

run("""
SELECT 
    *
FROM
    products
WHERE productCode NOT IN 
    (SELECT 
        productCode
    FROM 
        orders JOIN
        orderdetails USING(ordernumber) JOIN
        products USING(productCode)
    )
""")

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S18_3233,1985 Toyota Supra,Classic Cars,1:18,Highway 66 Mini Classics,"This model features soft rubber tires, working...",7733,57.01,107.57

                                     productName
0          1969 Harley Davidson Ultimate Chopper
1                       1952 Alpine Renault 1300
2                          1996 Moto Guzzi 1100i
3           2003 Harley-Davidson Eagle Drag Bike
4                            1972 Alfa Romeo GTA
5                         1962 LanciaA Delta 16V
6                              1968 Ford Mustang
7                              2001 Ferrari Enzo
8                                 1958 Setra Bus
9                               2002 Suzuki XREO
10                            1969 Corvair Monza
11                            1968 Dodge Charger
12                              1969 Ford Falcon
13                       1970 Plymouth Hemi Cuda
14                             1957 Chevy Pickup
15                            1969 Dodge Charger
16                        1940 Ford Pickup Truck
17                               1993 Mazda RX-7
18                          1937 Lincoln Berline
19      1936 Mercedes-Benz 500K Special Roadster
20                         1965 Aston Martin DB5
21                   1980s Black Hawk Helicopter
22                      1917 Grand Touring Sedan
23                   1948 Porsche 356-A Roadster
24                              1995 Honda Civic
25                1998 Chrysler Plymouth Prowler
26                            1911 Ford Town Car
27                        1964 Mercedes Tour Bus
28                     1932 Model A Ford J-Coupe
29                         1926 Ford Fire Engine
..                                           ...
80             1992 Porsche Cayenne Turbo Silver
81                         1936 Chrysler Airflow
82                       1900s Vintage Tri-Plane
83                         1961 Chevrolet Impala
84                   1980’s GM Manhattan Express
85                              1997 BMW F650 ST
86                             1982 Ducati 996 R
87                   1954 Greyhound Scenicruiser
88        1950's Chicago Surface Lines Streetcar
89   1996 Peterbilt 379 Stake Bed with Outrigger
90                      1928 Ford Phaeton Deluxe
91                     1974 Ducati 350 Mk3 Desmo
92                  1930 Buick Marquette Phaeton
93              Diamond T620 Semi-Skirted Tanker
94                1962 City of Detroit Streetcar
95                            2002 Yamaha YZR M1
96                         The Schooner Bluenose
97                   American Airlines: B767-300
98                                 The Mayflower
99                                    HMS Bounty
100               America West Airlines B757-200
101                    The USS Constitution Ship
102                              1982 Camaro Z28
103                                ATA: B757-300
104                           F/A 18 Hornet 1/72
105                                  The Titanic
106                               The Queen Mary
107                    American Airlines: MD-11S
108                             Boeing X-32A JSF
109                                   Pont Yacht

[110 rows x 1 columns]

In [118]:
# 5. List the names of products sold at less than 80% of the MSRP.
run("""
SELECT 
    productCode,
    productName,
    MSRP,
    priceEach,
    (priceEach/MSRP)*100 percentage
FROM 
    products JOIN 
    orderdetails USING(productCode)
WHERE priceEach < (0.8*MSRP)
""")

,productCode,productName,MSRP,priceEach,percentage
0,S10_2016,1996 Moto Guzzi 1100i,118.94,95.15,79.998318
1,S18_1129,1993 Mazda RX-7,141.54,113.23,79.998587
2,S18_1342,1937 Lincoln Berline,102.74,82.19,79.998053
3,S18_1589,1965 Aston Martin DB5,124.44,99.55,79.998393
4,S18_1589,1965 Aston Martin DB5,124.44,99.55,79.998393
5,S18_1662,1980s Black Hawk Helicopter,157.69,126.15,79.998732
6,S18_1662,1980s Black Hawk Helicopter,157.69,126.15,79.998732
7,S18_2248,1911 Ford Town Car,60.54,48.43,79.996696
8,S18_2581,P-51-D Mustang,84.48,67.58,79.995265
9,S18_2581,P-51-D Mustang,84.48,67.58,79.995265
10,S18_3232,1992 Ferrari 360 Spider red,169.34,135.47,79.998819
11,S18_3232,1992 Ferrari 360 Spider red,169.34,135.47,79.998819
12,S18_3232,1992 Ferrari 360 Spider red,169.34,135.47,79.998819
13,S18_3232,1992 Ferrari 360 Spider red,169.34,135.47,79.998819
14,S18_3259,Collectable Wooden Train,100.84,80.67,79.998017
15,S18_3482,1976 Ford Gran Torino,146.99,117.59,79.998639
16,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,92.03,73.62,79.995654
17,S18_4600,1940s Ford truck,121.08,96.86,79.996696
18,S18_4600,1940s Ford truck,121.08,96.86,79.996696
19,S18_4600,1940s Ford truck,121.08,96.86,79.996696
20,S24_1937,1939 Chevrolet Deluxe Coupe,33.19,26.55,79.993974
21,S24_1937,1939 Chevrolet Deluxe Coupe,33.19,26.55,79.993974
22,S24_2011,18th century schooner,122.89,98.31,79.998373
23,S24_2300,1962 Volkswagen Microbus,127.79,102.23,79.998435
24,S24_2300,1962 Volkswagen Microbus,127.79,102.23,79.998435
25,S24_2887,1952 Citroen-15CV,117.44,93.95,79.998297
26,S24_2887,1952 Citroen-15CV,117.44,93.95,79.998297
27,S24_3371,1971 Alpine Renault 1600s,61.23,48.98,79.993467
28,S24_3856,1956 Porsche 356A Coupe,140.43,112.34,79.997152
29,S24_3856,1956 Porsche 356A Coupe,140.43,112.34,79.997152
30,S24_3856,1956 Porsche 356A Coupe,140.43,112.34,79.997152
31,S24_3949,Corsair F4U ( Bird Cage),68.24,54.59,79.997069
32,S24_3969,1936 Mercedes Benz 500k Roadster,41.03,32.82,79.990251
33,S24_3969,1936 Mercedes Benz 500k Roadster,41.03,32.82,79.990251
34,S24_3969,1936 Mercedes Benz 500k Roadster,41.03,32.82,79.990251
35,S32_1374,1997 BMW F650 ST,99.89,79.91,79.997998
36,S32_3207,1950's Chicago Surface Lines Streetcar,62.14,49.71,79.996781
37,S32_3522,1996 Peterbilt 379 Stake Bed with Outrigger,64.64,51.71,79.996906
38,S50_1341,1930 Buick Marquette Phaeton,43.64,34.91,79.995417
39,S50_1514,1962 City of Detroit Streetcar,58.58,46.86,79.993172
40,S700_1691,American Airlines: B767-300,91.34,73.07,79.997810
41,S700_1691,American Airlines: B767-300,91.34,73.07,79.997810
42,S700_2610,The USS Constitution Ship,72.28,57.82,79.994466
43,S700_4002,American Airlines: MD-11S,74.03,59.22,79.994597

In [104]:
# 6. Reports those products that have been sold with a markup of 100% or more (i.e., the priceEach is at least twice the buyPrice)
run("""
SELECT 
    productCode,
    productName,
    buyPrice,
    priceEach,
    ((priceEach-buyPrice)/buyPrice)*100 AS percentageMarkup
FROM 
    products 
        JOIN 
    orderdetails 
        USING(productCode)
WHERE 
    priceEach >= 2*buyPrice
GROUP BY
    productCode
""")

,productCode,productName,buyPrice,priceEach,percentageMarkup
0,S10_1949,1952 Alpine Renault 1300,98.58,214.30,117.386894
1,S10_4698,2003 Harley-Davidson Eagle Drag Bike,91.02,187.85,106.383212
2,S12_1099,1968 Ford Mustang,95.34,190.68,100.000000
3,S12_1108,2001 Ferrari Enzo,95.59,205.72,115.210796
4,S12_2823,2002 Suzuki XREO,66.27,146.10,120.461747
5,S12_3891,1969 Ford Falcon,83.05,173.02,108.332330
6,S12_3990,1970 Plymouth Hemi Cuda,31.92,75.81,137.500000
7,S12_4473,1957 Chevy Pickup,55.70,114.95,106.373429
8,S18_1097,1940 Ford Pickup Truck,58.33,116.67,100.017144
9,S18_1367,1936 Mercedes-Benz 500K Special Roadster,24.26,48.52,100.000000
10,S18_1662,1980s Black Hawk Helicopter,77.27,157.69,104.076614
11,S18_2325,1932 Model A Ford J-Coupe,58.48,125.86,115.218878
12,S18_2432,1926 Ford Fire Engine,24.92,58.34,134.109149
13,S18_2625,1936 Harley Davidson El Knucklehead,24.23,52.70,117.498968
14,S18_2795,1928 Mercedes-Benz SSK,72.56,167.06,130.237045
15,S18_2870,1999 Indy 500 Monte Carlo SS,56.76,126.72,123.255814
16,S18_3232,1992 Ferrari 360 Spider red,77.90,165.95,113.029525
17,S18_3482,1976 Ford Gran Torino,73.49,146.99,100.013607
18,S18_3685,1948 Porsche Type 356 Roadster,62.16,125.74,102.284427
19,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,43.26,88.35,104.230236
20,S18_4668,1939 Cadillac Limousine,23.14,47.29,104.364736
21,S18_4721,1957 Corvette Convertible,69.93,139.87,100.014300
22,S18_4933,1957 Ford Thunderbird,34.21,69.84,104.150833
23,S24_2000,1960 BSA Gold Star DBD34,37.32,75.41,102.063237
24,S24_2022,1938 Cadillac V-16 Presidential Limousine,20.61,44.35,115.186803
25,S24_2300,1962 Volkswagen Microbus,61.34,122.68,100.000000
26,S24_2840,1958 Chevy Corvette Limited Edition,15.91,34.30,115.587681
27,S24_2972,1982 Lamborghini Diablo,16.24,34.74,113.916256
28,S24_3420,1937 Horch 930V Limousine,26.30,55.89,112.509506
29,S24_3949,Corsair F4U ( Bird Cage),29.34,62.10,111.656442
30,S24_4620,1961 Chevrolet Impala,32.33,67.10,107.547170
31,S32_2509,1954 Greyhound Scenicruiser,25.98,53.03,104.118553
32,S32_3207,1950's Chicago Surface Lines Streetcar,26.72,56.55,111.639222
33,S32_4289,1928 Ford Phaeton Deluxe,33.02,68.79,108.328286
34,S50_4713,2002 Yamaha YZR M1,34.17,74.85,119.051800
35,S700_1938,The Mayflower,43.30,86.61,100.023095
36,S700_2047,HMS Bounty,39.83,85.09,113.632940
37,S700_2610,The USS Constitution Ship,33.97,72.28,112.775979
38,S700_2824,1982 Camaro Z28,46.53,94.07,102.170643
39,S700_4002,American Airlines: MD-11S,36.27,74.03,104.108078

In [107]:
# 7. List the products ordered on a Monday.
run("""
SELECT
    productCode,
    productName,
    orderDate
FROM 
    products 
        JOIN 
    orderdetails 
        USING(productCode)
        JOIN 
    orders 
        USING(orderNumber)
WHERE 
    DAYNAME(orderDate) = 'Monday'
ORDER BY
    orderDate
""")

    productCode                               productName   orderDate
0      S18_1749                  1917 Grand Touring Sedan  2003-01-06
1      S18_2248                        1911 Ford Town Car  2003-01-06
2      S18_4409       1932 Alfa Romeo 8C2300 Spider Sport  2003-01-06
3      S24_3969          1936 Mercedes Benz 500k Roadster  2003-01-06
4      S18_1662               1980s Black Hawk Helicopter  2003-02-17
5      S18_2581                            P-51-D Mustang  2003-02-17
6      S18_3029                    1999 Yamaha Speed Boat  2003-02-17
7      S18_3856   1941 Chevrolet Special Deluxe Cabriolet  2003-02-17
8      S24_1785          1928 British Royal Navy Airplane  2003-02-17
9      S24_2841                    1900s Vintage Bi-Plane  2003-02-17
10     S24_3420                 1937 Horch 930V Limousine  2003-02-17
11     S24_3949                  Corsair F4U ( Bird Cage)  2003-02-17
12     S24_4278                   1900s Vintage Tri-Plane  2003-02-17
13     S32_4289                  1928 Ford Phaeton Deluxe  2003-02-17
14     S50_1341              1930 Buick Marquette Phaeton  2003-02-17
15    S700_1691               American Airlines: B767-300  2003-02-17
16    S700_2047                                HMS Bounty  2003-02-17
17    S700_2466            America West Airlines B757-200  2003-02-17
18    S700_2834                             ATA: B757-300  2003-02-17
19    S700_3167                        F/A 18 Hornet 1/72  2003-02-17
20    S700_4002                 American Airlines: MD-11S  2003-02-17
21     S72_1253                          Boeing X-32A JSF  2003-02-17
22     S10_1678     1969 Harley Davidson Ultimate Chopper  2003-02-24
23     S10_2016                     1996 Moto Guzzi 1100i  2003-02-24
24     S10_4698      2003 Harley-Davidson Eagle Drag Bike  2003-02-24
25     S12_2823                          2002 Suzuki XREO  2003-02-24
26     S18_2625       1936 Harley Davidson El Knucklehead  2003-02-24
27     S24_1578                         1997 BMW R 1100 S  2003-02-24
28     S24_2000                  1960 BSA Gold Star DBD34  2003-02-24
29     S32_1374                          1997 BMW F650 ST  2003-02-24
..          ...                                       ...         ...
377    S72_1253                          Boeing X-32A JSF  2005-01-31
378    S72_3212                                Pont Yacht  2005-01-31
379    S24_3816                  1940 Ford Delivery Sedan  2005-02-28
380   S700_1138                     The Schooner Bluenose  2005-02-28
381   S700_1938                             The Mayflower  2005-03-28
382   S700_2610                 The USS Constitution Ship  2005-03-28
383   S700_3505                               The Titanic  2005-03-28
384   S700_3962                            The Queen Mary  2005-03-28
385    S72_3212                                Pont Yacht  2005-03-28
386    S18_3856   1941 Chevrolet Special Deluxe Cabriolet  2005-05-09
387    S24_2841                    1900s Vintage Bi-Plane  2005-05-09
388    S24_3420                 1937 Horch 930V Limousine  2005-05-09
389   S700_2047                                HMS Bounty  2005-05-09
390    S72_1253                          Boeing X-32A JSF  2005-05-09
391    S18_3278                      1969 Dodge Super Bee  2005-05-16
392    S18_3482                     1976 Ford Gran Torino  2005-05-16
393    S18_3782                          1957 Vespa GS150  2005-05-16
394    S18_4721                 1957 Corvette Convertible  2005-05-16
395    S24_2360                   1982 Ducati 900 Monster  2005-05-16
396    S24_4620                     1961 Chevrolet Impala  2005-05-16
397    S32_2206                         1982 Ducati 996 R  2005-05-16
398    S32_4485                 1974 Ducati 350 Mk3 Desmo  2005-05-16
399    S50_4713                        2002 Yamaha YZR M1  2005-05-16
400    S18_1342                      1937 Lincoln Berline  2005-05-30
401    S18_1367  1936 Mercedes-Benz 500K Special Roadster  2005-05-30
402    S18_2949               1913 Ford Model T Speedster  2005-05-30
403    S18_2957                        1934 Ford V8 Coupe  2005-05-30
404    S18_3136       18th Century Vintage Horse Carriage  2005-05-30
405    S18_3320                  1917 Maxwell Touring Car  2005-05-30
406    S24_4258                     1936 Chrysler Airflow  2005-05-30

[407 rows x 3 columns]

In [113]:
# 8. What is the quantity on hand for products listed on 'On Hold' orders?
run("""
SELECT 
    productName,
    count(productName) as qty,
    status
FROM 
    products 
        JOIN 
    orderdetails 
        USING(productCode) 
        JOIN 
    orders 
        USING(orderNumber)
WHERE 
    status = 'On Hold'
GROUP BY
    productName
""")

                            productName  qty   status
0                 18th century schooner    1  On Hold
1               1900s Vintage Tri-Plane    1  On Hold
2                     1903 Ford Model A    1  On Hold
3                   1904 Buick Runabout    1  On Hold
4                    1911 Ford Town Car    1  On Hold
5      1912 Ford Model T Delivery Wagon    1  On Hold
6              1917 Grand Touring Sedan    1  On Hold
7                 1926 Ford Fire Engine    1  On Hold
8      1928 British Royal Navy Airplane    1  On Hold
9              1928 Ford Phaeton Deluxe    1  On Hold
10         1930 Buick Marquette Phaeton    1  On Hold
11  1932 Alfa Romeo 8C2300 Spider Sport    1  On Hold
12             1940 Ford Delivery Sedan    1  On Hold
13                     1940s Ford truck    1  On Hold
14                   1949 Jaguar XK 120    1  On Hold
15                    1952 Citroen-15CV    1  On Hold
16                1957 Ford Thunderbird    1  On Hold
17               1962 LanciaA Delta 16V    1  On Hold
18             1962 Volkswagen Microbus    1  On Hold
19               1964 Mercedes Tour Bus    1  On Hold
20                1965 Aston Martin DB5    1  On Hold
21            1966 Shelby Cobra 427 S/C    1  On Hold
22            1969 Chevrolet Camaro Z28    1  On Hold
23           1970 Chevy Chevelle SS 454    1  On Hold
24                  1972 Alfa Romeo GTA    1  On Hold
25          1992 Ferrari 360 Spider red    1  On Hold
26                     1997 BMW F650 ST    1  On Hold
27         1999 Indy 500 Monte Carlo SS    1  On Hold
28               1999 Yamaha Speed Boat    1  On Hold
29                  2002 Chevy Corvette    1  On Hold
30       America West Airlines B757-200    1  On Hold
31          American Airlines: B767-300    1  On Hold
32            American Airlines: MD-11S    1  On Hold
33                        ATA: B757-300    1  On Hold
34             Collectable Wooden Train    1  On Hold
35             Corsair F4U ( Bird Cage)    1  On Hold
36                   F/A 18 Hornet 1/72    1  On Hold
37                       P-51-D Mustang    1  On Hold
38                           Pont Yacht    1  On Hold
39                        The Mayflower    1  On Hold
40                       The Queen Mary    1  On Hold
41                The Schooner Bluenose    1  On Hold
42                          The Titanic    1  On Hold
43            The USS Constitution Ship    1  On Hold