# SQL #2

Before start this notebook, please make sure to complete this following list:
- Install [XAMPP](https://www.apachefriends.org/index.html)
- Start MySQL Database, and Apache Webserver
- Install Package `PyMySQL` on notebook, this package contains a pure-Python MySQL client library
- Import database `mysqlsampledatabase.sql` to MySQL Database

## Database Structure
<img src="http://www.mysqltutorial.org/wp-content/uploads/2009/12/MySQL-Sample-Database-Schema.png" />

## Connect to database
Connect to localhost, using `classicmodels` database with default user

In [ ]:
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

### One to many relationship
1. Report the account representative for each customer.
2. Report total payments for Atelier graphique.
3. Report the total payments by date
4. Report the products that have not been sold.
5. List the amount paid by each customer.
6. How many orders have been placed by Herkku Gifts?
7. Who are the employees in Boston?
8. Report those payments greater than \$100,000. Sort the report so the customer who made the highest payment appears first.
9. List the value of 'On Hold' orders.
10. Report the number of orders 'On Hold' for each customer.

In [ ]:
# 1. Report the account representative for each customer.

run("""
SELECT 
    concat(e.firstName,' ', e.lastName) AccountRepresentative,
    customerName
FROM
    employees e
        RIGHT JOIN
    customers c ON e.employeeNumber = c.salesRepEmployeeNumber
ORDER BY customerName
""")

In [ ]:
#2. Report total payments for Atelier graphique.

run("""
SELECT 
    customerName,
    sum(amount) totalPayments
FROM
    customers c
        JOIN
    payments p ON c.customerNumber = p.customerNumber
WHERE
    c.customerName = 'Atelier graphique'
""")

In [ ]:
# 3. Report the total payments by date

### Many to many relationship
1. List products sold by order date.
2. List the order dates in descending order for orders for the 1940 Ford Pickup Truck.
3. List the names of customers and their corresponding order number where a particular order from that customer has a value greater than $25,000?
4. Are there any products that appear on all orders?
5. List the names of products sold at less than 80% of the MSRP.
6. Reports those products that have been sold with a markup of 100% or more (i.e.,  the priceEach is at least twice the buyPrice)
7. List the products ordered on a Monday.
8. What is the quantity on hand for products listed on 'On Hold' orders?